.inspectorheader{
    background-color: white;
    height: 15px;
    padding-top: 10px;
    position: relative;
}



.inspectorClose{
    position: absolute;
    right: 15px;
}

.inspectorClose:hover{
    cursor: pointer;
    color: blue;
    border-bottom: 1px solid blue;
}