.invheader{
    background-color: #eee;
    height: 40px;
    padding-top: 10px;
    position: relative;
}

.invheader:hover{
    background-color: #ccc;
}

.invclose{
    position: absolute;
    right: 20px;
}

.invclose:hover{
    cursor: pointer;
    color: white;
}