.invheader{
    background-color: white;
    height: 20px;
    padding-top: 10px;
    position: relative;
}



.invclose{
    position: absolute;
    right: 20px;
}

.invclose:hover{
    cursor: pointer;
    color: blue;
    border-bottom: 1px solid blue;
}