.panel-title{
    display:inline;
}
.Accordion.Toggle:hover{
    background-color:#4CAF50;
    border:none;
    color:Black;

}

#filterEngage{
    background-color:#a46fdb;
}
#filterEngage:hover{
    background-color:#62269e;
}
#filterEngage:focus{
    background-color:#a46fdb;
}
#filterEngage:hover:active{
    background-color:#a46fdb;
}

.panel-heading:hover{
    cursor:pointer;
}

.d-inline-block {
    display: inline-block;
}

.toggle-down {
    transform: rotate(180deg);
    margin: 5px 0 10px 0;
}
  
  
.toggle-up {
    transform: rotate(0deg);
    margin: 5px 0 10px 0;
}
  
.padded-string {
    color: white;
    padding-top: 2px;
    padding-right: 10px;
}

/*#filter-panel{
    margin:0 1.5rem;
}*/


.grid-container {
    display: grid;
    grid-template-columns: 10% 30% 30% 5% 5% 5% 5%;
    grid-gap: 10px;
    padding: 5px;
  }
  
  .grid-container > * {
    padding: 0 0;
    font-size: 15px;
  }

  .grid-container > p {
    background-color: #F5F5F5;
    padding: 0 25px;
    font-size: 15px;
  }
.boolean-selector {
    grid-column: 1/2;
    margin: 0;
  }
.type-selector{
    grid-column:2/4;
}
.add-button{
    grid-column:5/6;
}
.remove-button{
    grid-column:7/8;
}
.select-box{
    grid-column:2/8;
}
.panel-coloring{
    background-color: #F5F5F5;
}
