.tooltip-disabled {
    .arrow {
        display: none !important;
    }
    
    .tooltip-inner {
        display: none !important;
    }
}


.tooltip-danger {
    .arrow::before {
        border-top-color: red !important;
    }

    .tooltip-inner {
        background-color: red;
    }
}

.tooltip-info{
    .arrow:before{
        border-top-color: blue !important;       
    }
    .tooltip-inner {
        background-color: transparent;
    }
}