.center{
    text-align: center;
}

.triangle {
    width: 0;
    height: 0;
    display: inline-block;
    margin: 0 10px 1px 0;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    border-color: transparent transparent transparent #135B5D;
    transition: all 0.5s ease-in;
  }
  .specimenInfo .accordion:hover .triangle {
    border-color: transparent transparent transparent #135B5D;
  }
  .specimenInfo .accordion-btn.active .triangle {
    transform: rotate(90deg);
    border-width: 5px 0 5px 8px;
    border-color: transparent transparent transparent #135B5D;
  }
  .specimenInfo .cedcd-accordion.active:hover .triangle {
    border-color: transparent transparent transparent #135B5D;
  }