node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.env.*.local
*.log
deploy/log/*
deploy/data/*
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
coverage
.nyc_output
client/node_modules
client/build
client/www
README.md
cdk
cdk.out
*.md


