/config/project.settings.js
/config/cedcd.settings
/client/www/*
/client/build/*
/Logs/*
/Uploads/*
/deploy/*
yarn.lock
node_modules*
.DS_Store
npm-debug.log
yarn-error.log*
cedcd.settings
/log/*
.env
