.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}