<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CEDCD Cohort Owner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    Dear {user}, <br />
    <p>
      You are receiving this email because the cohort assignments on your user account on the CEDCD website have been
      changed. You can now login to the <a href="{website}">CEDCD website</a> to view or update your cohort data.
    </p>
    <p>Your account is currently assigned to the following cohort(s)</p>
    <ul style="list-style-type: none">
      {cohort}
    </ul>

    <p>
      If you should have any questions, please contact us by email at
      <a href="mailto:CEDCDWebAdmin@mail.nih.gov">CEDCDWebAdmin@mail.nih.gov</a>
    </p>

    <p>
      Sincerely, <br />
      CEDCD Web Admin
    </p>
  </body>
</html>
