<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CEDCD Cohort Owner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    Dear {user}, <br>
    <p>You are recieving this email because there are reviewer comments about your submitted cohort data. You can now go to the <a href="{website}">CEDCD website</a> to update your cohort data and resubmit.
    </p>
    <ul style="list-style-type:none;">
        <li href="{cohortName}">Cohort Name: {cohortName}</li>
        <li href="{cohortAcronym}">Cohort Acronym: {cohortAcronym}</li>
    </ul>
    <p>Review Comments:</p>
    <p>{reviewComments}</p>
        
    <p>If you should have any questions, please contact us by email at <a href='mailto:CEDCDWebAdmin@mail.nih.gov'>CEDCDWebAdmin@mail.nih.gov</a> </p>

    <p>
        Sincerely, <br>
        CEDCD Web Admin
    </p>
</body>

</html>