<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CEDCD System Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    Dear Site Admin, <br>
    <p>You are recieving this email because a new cohort has been submitted for review on the CEDCD website. You can now login to the <a href="{website}">CEDCD website</a> to review the cohort data and either approve or reject the cohort.
    </p>
    <p>The following cohort has been submitted for review:</p>
    <ul style="list-style-type:none;">
        <li href="{cohortName}">Cohort Name: {cohortName}</li>
        <li href="{cohortAcronym}">Cohort Acronym: {cohortAcronym}</li>
        <li href="{publishData}">Submit Date: {publishDate}</li>
    </ul>

    <p>If you should have any questions, please contact us by email at <a href='mailto:CEDCDWebAdmin@mail.nih.gov'>CEDCDWebAdmin@mail.nih.gov</a> </p>

    <p>
        Sincerely, <br>
        CEDCD Web Admin
    </p>
</body>

</html>