<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CEDCD Cohort Owner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    Dear {user}, <br>
    <p>You are recieving this email because the following Cohort has been reviewed and published on the CEDCD website. You can now go to the <a href="{website}">CEDCD website</a> to review your published Cohort data.
    </p>
    <ul style="list-style-type:none;">
        <li href="{cohortName}">Cohort Name: {cohortName}</li>
        <li href="{cohortAcronym}">Cohort Acronym: {cohortAcronym}</li>
        <li href="{publishData}">Publish Date: {publishDate}</li>
    </ul>

    <p>If you should have any questions, please contact us by email at <a href='mailto:CEDCDWebAdmin@mail.nih.gov'>CEDCDWebAdmin@mail.nih.gov</a> </p>

    <p>
        Sincerely, <br>
        CEDCD Web Admin
    </p>
</body>

</html>