$line-width: 6px;
$line-color: rgb(153, 255, 51);
$step-radius: 25px;
$step-padding: 6px;
$step-background-color: orange;
$step-border-width: 4px;
$step-border-color: orange;
$step-border-color-hover: blue;
$active-step-label-color: blue;
$active-step-label-decoration: underline;
$active-step-label-font-weight: bold;

.stepper {
  display: flex;
  justify-content: space-between;

  .step {
    position: relative;
    flex-grow: 1;

    &:not(:first-child):before,
    &:not(:last-child):after {
      content: '';
      border-top: $line-width solid $line-color;
      width: 50%;
      top: (
        $step-radius
        + $step-padding
        + $step-border-width
        - $line-width
      ) / 2;
      position: absolute;
      z-index: -1;
    }

    &:after {
      right: 0;
    }

    &.active {
      .step-label {
        color: $active-step-label-color;
        text-decoration: $active-step-label-decoration;
        font-weight: $active-step-label-font-weight;
      }
    }
  
    .step-label-container {
      display: flex;
      justify-content: center;
    }
      
    .step-label {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      cursor: pointer;

      &:hover:before {
        border-color: $step-border-color-hover;
      }
      
      &:before {
        content: '';
        display: block;
        width: $step-radius + $step-padding;
        height: $step-radius + $step-padding;
        background-color: white;
        border-radius: 50%;
        border: $step-border-width solid $step-border-color;
      }
  
      &:after {
        content: '';
        display: block;
        width: $step-radius;
        height: $step-radius;
        background-color: $step-background-color;
        border-radius: 50%;
        position: absolute;
        top: $step-border-width + ($step-padding / 2);
      }
    }
  }
}
