.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;

}

.accordian:hover span{
    border-bottom: 1px solid blue;
}